# IntelliJ
*.iml
*.ipr
*.iws
out/
.idea/
src/com/LuckyBlock/Commands/GameCommands.java
src/com/LuckyBlock/Commands/LuckyBlockCommand.java
src/com/LuckyBlock/Engine/LuckyBlockWorld.java
src/com/LuckyBlock/Engine/Types.java
src/com/LuckyBlock/Commands/TeamCommands.java